<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>queryPage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<table border="2px">
		<tr>
			<td>username</td>
			<td>passwd</td>
			<td></td>
		</tr>
		<form role="form" method="post" enctype="multipart/form-data"
			th:action="@{/insertAction}">
			<tr>
				<td><input type="text" name="username"></td>
				<td><input type="text" name="passwd"></td>
				<td><input type="submit" value="submit"></td>
			</tr>
		</form>
	</table>
</body>
</html>